
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}
.main {
  margin: 10px;
  padding: 20px;
  /* Fixed width to avoid text changing size */
  min-width: 375px;
  max-width: 500px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 6px 6px 2px gray;
  text-align: center;
}
img {
  width: 100%;
  display: block;
}
img, .main {
  border-radius: 15px;
}
h1 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 2em;
}
p {
  font-weight: 400;
  font-size: 1em;
  color: hsl(220, 15%, 55%);
}
.attribution {
  font-size: 1em;
  padding-top: 0.5em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}