@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  font-size: 1em;
}
.main {
  display: 80%;
  border: 12px solid hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 100%);
  /*box-shadow: 5px 5px 2px gray;*/
}
img,
p,
h1 {
  width: 100%;
}
.main,
img {
  border-radius: 15px;
}
h1,
p {
  text-align: center;
}
h1 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 1.2em;
}
p {
  font-weight: 400;
  font-size: 0.9em;
  color: hsl(220, 15%, 55%);
}
.attribution {
  font-size: 1em;
  text-align: center;
  padding-top: 2em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
