@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}
.main {
  margin: 10px;
  max-width: 33%;
  padding: 20px;
  /*border: 12px solid hsl(0, 0%, 100%);*/
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  /*box-shadow: 5px 5px 2px gray;*/
}
.main,
img {
  border-radius: 15px;
}
h1 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 2em;
}
p {
  font-weight: 400;
  font-size: 1em;
  color: hsl(220, 15%, 55%);
}
.attribution {
  font-size: 1em;
  padding-top: 2em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
